.container {
    border-top: 1px solid #f1f1f1;
    display: flex;
    flex-direction: column;
}

.ibox {
    clear: both;
    margin-top: 0;
    padding: 0;
}

.iboxContent {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    th, td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
    tbody + tbody {
        border-top: 2px solid #dee2e6;
    }
    tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.ibox:after,
.ibox:before {
    display: table;
}
